@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
}

#conteiner-view{
	margin: 0 auto;
	width: 95%;
	background-color: #fff;
	
}
#cabecalho-view{
	float : left;
	width: 100%;
	height: 150px;
	margin-top:20px;
	padding-top: 20px;
	border-bottom: 1px solid #556B2F;

	
}
#cabecalho-view img{
	float : left;
	width: 120px;
	height: 120px;
	margin-left: 2%;


}
.titulo-view{

	width: 300px;
	font-family:Comic Sans;
	font-weight:bold;
	font-size:30px;
	margin: 0 auto;

	
}

.numero-view{
	float : right;
	font-size: 40px;
	height:100%;
	margin-right: 5%;
}
#foto-ficha{
	float : left;
	width:18%;
	height: 350px;
	border: 2px solid #000;
	border-radius: 15px;
	margin-top:2%;
}
#foto-ficha img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
#dados-pessoais-view{
	float : left;
	width:80%;
	height:350px;
	margin-top:2%;
	margin-left: 2%;

}
.legenda{
	font-weight: bold;
}
fieldset{
	padding:1%;
	display:block;
	height:100%;
 	border: 1px groove #556B2F;
}
#dados-juridicos-view{
	float : left;
	width:100%;
	margin-top:2%;
}
#foto-ficha-view{
	float : left;
	width:100%;
	
}
#foto-ficha-view img{
	float : left;
	margin-right:1px;
	width:293px;
	height: 350px;
	border: 2px solid #c0c0c0;
	border-radius: 15px;
	
}